# Tic Tac Toe Project Description

 **`(1) Create Empty board (3x3):`**

  `1  2  3`

  `4 5 6`

  `7 8 9`

 **`(2) Show Board`**

 **`(3) Set Players Randomly ('X', 'O')`**

 **`(4) Take Input from Player`**

 **`(5) Check Full Board >> Draw`**

 **`(6) Check if Someone wins >> Finish`**

# Template

## Empty Board

In [ ]:
def create_empty_board():
  board = [[1, 2, 3],
           [4, 5, 6],
           [7, 8, 9]]
  for row in board:
    for col in row:
      print(col, end='\t')
    print('\n')

In [ ]:
create_empty_board()

1	2	3

4	5	6

7	8	9

## Show Board

In [ ]:
def show_board(board):
  for col in board:
    for row in col:
      print(row, end='\t')
    print('\n')

In [ ]:
board = [[1,2,3],[4,'X',6],[7,8,9]]
show_board(board)

1	2	3

4	X	6

7	8	9

## Set Players

In [ ]:
import random
def set_players():
  players = ['X', 'O']
  p1 = random.randint(0, 1)
  p2 = p1 - 1
  return players[p1], players[p2]

In [ ]:
set_players()

('X', 'O')

## Take Input

In [ ]:
def take_input(board, player):
  while True:
    x = input('‚û§ Enter a number (1-9) for an empty cell: ')
    if (not x.isdigit()) or (int(x) < 1) or (int(x) > 9):
      print('‚ùå Invalid input! Please enter a number (1-9).')
      continue
    x = int(x)
    x -= 1
    row = x // 3
    col = x % 3
    if not board[row][col].isdigit():
      print('‚ùå This cell is already taken! Try again.')
      continue
    board[row][col] = player
    show_board(board)
    return

In [ ]:
board = [['1','2','3'],['4','X','6'],['7','8','9']]
player ='O'
player_input = '8'
take_input(board, player)

‚û§ Enter a number (1-9) for an empty cell: 1
O	2	3

4	X	6

7	8	9

## Check Full Board

In [ ]:
def check_full_board(board):
  for row in board:
    for col in row:
      if col.isdigit():
        return False
  return True

In [ ]:
board = [['o','x','x'],['o','X','o'],['x','o','x']]
check_full_board(board)

True

In [ ]:
board = [['o','x','x'],['4','X','o'],['x','o','x']]
check_full_board(board)

False

## Check Win

In [ ]:
def check_win(board):
  for row in board:
    st = set()
    for col in row:
      st.add(col)
    if len(st) == 1:
      return True
  d1 = set()
  d2 = set()
  for col in range(0, 3):
    st = set()
    for row in range(0, 3):
      st.add(board[row][col])
      if row == col:
        d1.add(board[row][row])
        d2.add(board[2-row][row])
    if len(st) == 1:
      return True
  return len(d1) == 1 or len(d2) == 1

In [ ]:
board = [['o','x','x'],['o','o','x'],['x','o','x']]
show_board(board)
check_win(board)

o	x	x

o	o	x

x	o	x

True

In [ ]:
board = [['o','x','o'],['o','o','x'],['x','o','x']]
show_board(board)
check_win(board)

o	x	o

o	o	x

x	o	x

False

## Let's Play

In [ ]:
def play():
  player1, player2 = set_players()
  print(f'''
üéÆ Welcome to Tic-Tac-Toe! üé≤
   ‚û§ Player 1: {player1}
   ‚û§ Player 2: {player2}
üî• Get ready for the challenge! üí™
''')
  board = [['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]
  show_board(board)
  players = [player1, player2]
  for i in range(9):
    idx = i % 2
    player = players[idx]
    print(f'üéÆ Player {idx+1}\'s turn ({player})')
    take_input(board, player)
    if check_win(board):
      print(f'üéâ Congratulations! Player {idx+1} ({player}) wins! üèÜ')
      return
    if check_full_board(board):
      print('üòî It\'s a draw! No winner this time.')
      return

In [ ]:
play()

üéÆ Welcome to Tic-Tac-Toe! üé≤
   ‚û§ Player 1: O
   ‚û§ Player 2: X
üî• Get ready for the challenge! üí™

1	2	3

4	5	6

7	8	9

üéÆ Player 1's turn (O)
‚û§ Enter a number (1-9) for an empty cell: 1
O	2	3

4	5	6

7	8	9

üéÆ Player 2's turn (X)
‚û§ Enter a number (1-9) for an empty cell: 2
O	X	3

4	5	6

7	8	9

üéÆ Player 1's turn (O)
‚û§ Enter a number (1-9) for an empty cell: 2
‚ùå This cell is already taken! Try again.
‚û§ Enter a number (1-9) for an empty cell: 3
O	X	O

4	5	6

7	8	9

üéÆ Player 2's turn (X)
‚û§ Enter a number (1-9) for an empty cell: 10
‚ùå Invalid input! Please enter a number (1-9).
‚û§ Enter a number (1-9) for an empty cell: 0
‚ùå Invalid input! Please enter a number (1-9).
‚û§ Enter a number (1-9) for an empty cell: 5
O	X	O

4	X	6

7	8	9

üéÆ Player 1's turn (O)
‚û§ Enter a number (1-9) for an empty cell: 6
O	X	O

4	X	O

7	8	9

üéÆ Player 2's turn (X)
‚û§ Enter a number (1-9) for an empty cell: 8
O	X	O

4	X	O

7	X	9

üéâ Congratulations! Player 2 (X) wins! üèÜ